.menu-category {
  /* width: 85%; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  margin-right: 30px;
}
.menu-category > div {
  /* width: calc(86vw - 300px); */
  max-width: 820px;
  min-width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: 2px red solid; */
}
@media (max-width: 830px) {
  .menu-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .menu-category > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
